<div class="Container_Dashbord" appCouleurfond>
  <div class="Dashbord_admin">
    <ul>
      <li>
        <img src="https://img.freepik.com/free-vector/international-student-day-banner-design_1308-122226.jpg?size=626&ext=jpg&uid=R119572586&ga=GA1.1.662083046.1696519376&semt=ais" alt="" srcset="" alt="">
        <p class="" id="Dashboard">Dashboard</p>
      </li>
      <li id="Statistique"><i class="fa-solid fa-chart-simple"></i>&nbsp;&nbsp;<a >Accueil</a></li>
      <li id="Statistique"><i class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<a >Article</a></li>
      <li id="Statistique"><i class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<a>Commentaire</a></li>


    </ul>
  </div>
</div>

<div class="ar"></div>

<!-- contenue page -->


