/* .scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
} */
.entete img{
  height: 300px;
}
/* textarea{
  width: 40%;
} */
.expcard{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1;
  align-content: space-evenly;
}
.expcard1{
  margin-bottom: 10%;
}
