<!-- <p>details works!</p> -->

<!-- modal detail des articles -->
<div *ngIf="partieDetail">
  <button type="button" class="btn btn-primary" (click)=" listeCoice()" >Details </button>
</div>

<!-- details -->
<div [(ngModel)]="details" *ngFor="let dataphoto of tabDetails" >
  <div *ngIf="!partieDetail" >
  <!-- <div class="entete mt-3 mb-3">
    <img src="https://img.freepik.com/photos-gratuite/inspecteur-financier-secretaire-entreprise-font-rapport-calculent-verifient-equilibre-document-verification-inspecteur-du-service-recettes-internes-concept-audit_1423-126.jpg?size=626&ext=jpg&ga=GA1.1.776136621.1700434133&semt=sph" alt="">
    <h1 class="text-center mt-2">Titre</h1>
  </div> -->

  <div class="modal-body detail">
    <p>{{dataphoto.title}}</p>
    <p>{{dataphoto.url}}</p>
    <p> {{dataphoto.thumbnailUrl}}</p>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero totam eum aliquid beatae! Harum quis aliquam explicabo,
      culpa voluptate, officiis voluptatibus reiciendis, adipisci odio ullam perferendis totam dicta facere minima.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.Libero totam eum aliquid beatae! Harum quis aliquam explicabo,
      culpa voluptate, officiis voluptatibus reiciendis, adipisci odio ullam perferendis totam dicta facere minima.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.Libero totam eum aliquid beatae! Harum quis aliquam explicabo,
      culpa voluptate, officiis voluptatibus reiciendis, adipisci odio ullam perferendis totam dicta facere minima. </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero totam eum aliquid beatae! Harum quis aliquam explicabo,
      culpa voluptate, officiis voluptatibus reiciendis, adipisci odio ullam perferendis totam dicta facere minima.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.Libero totam eum aliquid beatae! Harum quis aliquam explicabo,
      culpa voluptate, officiis voluptatibus reiciendis, adipisci odio ullam perferendis totam dicta facere minima.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.Libero totam eum aliquid beatae! Harum quis aliquam explicabo,
      culpa voluptate, officiis voluptatibus reiciendis, adipisci odio ullam perferendis totam dicta facere minima. </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero totam eum aliquid beatae! Harum quis aliquam explicabo,
      culpa voluptate, officiis voluptatibus reiciendis, adipisci odio ullam perferendis totam dicta facere minima.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.Libero totam eum aliquid beatae! Harum quis aliquam explicabo,
      culpa voluptate, officiis voluptatibus reiciendis, adipisci odio ullam perferendis totam dicta facere minima.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.Libero totam eum aliquid beatae! Harum quis aliquam explicabo,
      culpa voluptate, officiis voluptatibus reiciendis, adipisci odio ullam perferendis totam dicta facere minima. </p>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Libero totam eum aliquid beatae! Harum quis aliquam explicabo,
       culpa voluptate, officiis voluptatibus reiciendis, adipisci odio
       ullam perferendis totam dicta facere minima.</p> -->
      <!-- <h5>Commentaire </h5>
    <div class="mb-3">
      <textarea class="form-control mt-3" id="exampleFormControlTextarea1" cols="10" rows="6"></textarea>
      <button type="button" class="btn btn-primary mt-3">Commenter</button>
    </div> -->
  </div>
</div>
</div>



  <!-- <div class="modal " tabindex="-1" id="modalVoirDetail">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detail de l'article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body scroller ">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Libero totam eum aliquid beatae! Harum quis aliquam explicabo,
          culpa voluptate, officiis voluptatibus reiciendis, adipisci odio
          ullam perferendis totam dicta facere minima. </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Libero totam eum aliquid beatae! Harum quis aliquam explicabo,
           culpa voluptate, officiis voluptatibus reiciendis, adipisci odio
           ullam perferendis totam dicta facere minima.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Libero totam eum aliquid beatae! Harum quis aliquam explicabo,
           culpa voluptate, officiis voluptatibus reiciendis, adipisci odio
           ullam perferendis totam dicta facere minima.</p>
          <h5>Commentaire </h5>
        <div class="mb-3">
          <textarea class="form-control mt-3" id="exampleFormControlTextarea1" rows="3"></textarea>
          <button type="button" class="btn btn-primary mt-3">Commenter</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Terminer</button>
      </div>
    </div>
  </div>
</div> -->
