/* header */

#userDropdown img
{
  height: 40px;
  width: 40px;
}
#userDropdown span
{
 color:#650329 ;
}
/* fin header */

.articleaffiche{
  display:  grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 20px;
  justify-content: center;
}
